@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount"><span class="oi oi-plus"></span></button>
<button class="btn btn-primary" @onclick="DecrementCount"><span class="oi oi-minus"></span></button>

@code {
    private int currentCount = 0;

    private void DecrementCount()
    {
        currentCount--;
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
