@page "/"

<h1>Welcome to the Blazor Static Web App!</h1>

<p>This is going to be a fun experiment to configure a Blazor SPA that is hosted in an Azure Static Web App and backed by an Azure Function library.</p>

